# Miami EUI

In [1]:
import pandas as pd
import numpy as np
#The data comes from https://www.benchmark305.com/map
# --> Download 2023 Dataset

eui_miami_path = "https://docs.google.com/spreadsheets/d/1ctfi0LxU9b35pIiZ7pgN_iCNm8zLuJdF/export?format=csv"

eui_miami_df = pd.read_csv(eui_miami_path, skiprows=3)

latitude = 25.7617
longitude = -80.1918

eui_miami_df['latitude'] = latitude
eui_miami_df['longitude'] = longitude

In [2]:
property_type_classification = {
    # Residential
    "Multifamily Housing": "Residential",

    # Non-Residential
    "Casino": "Non-Residential",
    "Financial Office": "Non-Residential",
    "Hotel": "Non-Residential",
    "Lifestyle Center": "Non-Residential",
    "Medical Office": "Non-Residential",
    "Mixed Use Property": "Non-Residential",
    "Museum": "Non-Residential",
    "Office": "Non-Residential",
    "Other": "Non-Residential",
    "Other - Education": "Non-Residential",
    "Other - Lodging/Residential": "Non-Residential",
    "Other - Mall": "Non-Residential",
    "Other - Recreation": "Non-Residential",
    "Parking": "Non-Residential",
    "Performing Arts": "Non-Residential",
    "Police Station": "Non-Residential",
    "Refrigerated Warehouse": "Non-Residential",
    "Residential Care Facility": "Non-Residential",
    "Self-Storage Facility": "Non-Residential"
}


eui_miami_df["Property Type Category"] = eui_miami_df["Primary Property Type**"].map(property_type_classification)

In [3]:
kBtu_to_kWh = 0.2931
ft2_to_m2 = 0.092903

eui_miami_df = eui_miami_df[eui_miami_df["Weather Normalized Site EUI**"] > 0]

eui_miami_df['EUI (kWh/m2/year)'] = (eui_miami_df['Weather Normalized Site EUI**']) * kBtu_to_kWh / ft2_to_m2

eui_miami_df["Residential EUI (kWh/m2/year)"] = eui_miami_df.apply(
    lambda x: x["EUI (kWh/m2/year)"] if x["Property Type Category"] == "Residential" else None, axis=1
)

eui_miami_df["Non-residential EUI (kWh/m2/year)"] = eui_miami_df.apply(
    lambda x: x["EUI (kWh/m2/year)"] if x["Property Type Category"] == "Non-Residential" else None, axis=1
)

eui_miami_df["Residential Area (ft²)"] = eui_miami_df.apply(
    lambda x: x[" Assessor Gross Floor Area* "] if x["Property Type Category"] == "Residential" else None, axis=1
)

eui_miami_df["Non-residential Area (ft²)"] = eui_miami_df.apply(
    lambda x: x[" Assessor Gross Floor Area* "] if x["Property Type Category"] == "Non-Residential" else None, axis=1
)

eui_miami_df

,Reporting Year,Building ID,Building Status,Property Address Street*,Property Address City*,Property Address Postal Code*,Assessor Gross Floor Area*,Reported Gross Floor Area**,Primary Property Type**,Energy Star Certification - Years Certified**,...,Water Use**,Water Score**,latitude,longitude,Property Type Category,EUI (kWh/m2/year),Residential EUI (kWh/m2/year),Non-residential EUI (kWh/m2/year),Residential Area (ft²),Non-residential Area (ft²)
0,2023,M10006,in compliance,1 Se 3 Ave,Miami,33131,"770,195","482,206",Office,"2022, 2021, 2020, 2019, 2018, 2017, 2016, 2015...",...,9892.4,0,25.7617,-80.1918,Non-Residential,119.570843,NaN,119.570843,None,"770,195"
1,2023,M10008,in compliance,10 Sw South River Dr,Miami,33130,"774,300","185,814",Multifamily Housing,0,...,0.0,0,25.7617,-80.1918,Residential,141.339677,141.339677,NaN,"774,300",None
2,2023,M10010,in compliance,100 Se 2 St,Miami,33131,"610,395","664,078",Office,0,...,9359.5,0,25.7617,-80.1918,Non-Residential,124.303198,NaN,124.303198,None,"610,395"
3,2023,M10013,in compliance,1000 Nw 42 Ave,Miami,33126,"108,187","108,187",Hotel,0,...,3558.0,0,25.7617,-80.1918,Non-Residential,215.164419,NaN,215.164419,None,"108,187"
4,2023,M10015,in compliance,1001 Brickell Bay Dr,Miami,33131,"517,450","287,927",Office,0,...,2484.2,0,25.7617,-80.1918,Non-Residential,129.035553,NaN,129.035553,None,"517,450"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
170,2023,M10720,in compliance,155 Ne 78Th St,Miami,33130,"203,531","132,426",Multifamily Housing,0,...,10048.6,31,25.7617,-80.1918,Residential,149.226936,149.226936,NaN,"203,531",None
171,2023,M10721,in compliance,801 Brickell Ave,Miami,33130,"411,613","440,343",Financial Office,"2022, 2019, 2018, 2016, 2015, 2014, 2013, 2012...",...,15134.8,0,25.7617,-80.1918,Non-Residential,144.810071,NaN,144.810071,None,"411,613"
172,2023,M10722,in compliance,125 Ne 32Nd St,Miami,33130,"392,040","392,040",Multifamily Housing,0,...,19524.3,34,25.7617,-80.1918,Residential,188.978720,188.978720,NaN,"392,040",None
173,2023,M10724,in compliance,1100 Biscayne Blvd,Miami,33130,"401,445","401,445",Hotel,0,...,3580.2,0,25.7617,-80.1918,Non-Residential,129.035553,NaN,129.035553,None,"401,445"
174,2023,M10725,in compliance,169 E Flagler St.,Miami,33130,"347,565","266,148",Office,0,...,9844.4,0,25.7617,-80.1918,Non-Residential,163.108511,NaN,163.108511,None,"347,565"

In [4]:
eui_miami_df['Residential Area (ft²)'] = eui_miami_df['Residential Area (ft²)'].replace('None', np.nan)
eui_miami_df['Non-residential Area (ft²)'] = eui_miami_df['Non-residential Area (ft²)'].replace('None', np.nan)

eui_miami_df['Residential Area (ft²)'] = eui_miami_df['Residential Area (ft²)'].astype(str).str.replace(',', '')
eui_miami_df['Non-residential Area (ft²)'] = eui_miami_df['Non-residential Area (ft²)'].astype(str).str.replace(',', '')

eui_miami_df['Residential Area (ft²)'] = pd.to_numeric(eui_miami_df['Residential Area (ft²)'], errors='coerce')
eui_miami_df['Non-residential Area (ft²)'] = pd.to_numeric(eui_miami_df['Non-residential Area (ft²)'], errors='coerce')

In [5]:
eui_miami_df = eui_miami_df[[ 
    'latitude', 'longitude', 
    'Residential EUI (kWh/m2/year)', 'Non-residential EUI (kWh/m2/year)', 
    'Residential Area (ft²)',  'Non-residential Area (ft²)'
]]

eui_miami_df.head()

,latitude,longitude,Residential EUI (kWh/m2/year),Non-residential EUI (kWh/m2/year),Residential Area (ft²),Non-residential Area (ft²)
0,25.7617,-80.1918,NaN,119.570843,NaN,770195.0
1,25.7617,-80.1918,141.339677,NaN,774300.0,NaN
2,25.7617,-80.1918,NaN,124.303198,NaN,610395.0
3,25.7617,-80.1918,NaN,215.164419,NaN,108187.0
4,25.7617,-80.1918,NaN,129.035553,NaN,517450.0

In [6]:
eui_miami_df.to_csv("../data/02_interim/eui_miami.csv", index=False)