## Imports

In [1]:
# IMPORTS
#ML
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

import pycountry
import rasterio
from scipy.spatial import cKDTree
from tqdm import tqdm
from datetime import datetime
import geopandas as gpd

import zipfile
import os
import gdown

# Contry data

In [2]:
country_info_path = "https://drive.google.com/uc?id=1xfYlruvfAi6yieOd_S69pPYWphckRLr5&export=download"

column_names = [
    'Country_Code',        # Alpha-2 code
    'ISO_Alpha_3',        # Alpha-3 code
    'Numeric_Code',        # Numeric code
    'Alpha_2',            # Alpha-2 code (duplicate)
    'Country_Name',       # Name of the country
    'Capital',            # Capital city
    'Area',               # Area in square kilometers
    'Population',         # Population
    'Region',             # Region
    'TLD',                # Top-level domain
    'Currency_Code',      # Currency code
    'Currency_Name',      # Currency name
    'Currency_Numeric',   # Numeric currency code
    'Additional_Info'     # Additional information
]

country_info_df = pd.read_csv(
    country_info_path, delimiter="\t", comment="#", on_bad_lines="skip", header=None
)

country_info_df.columns = column_names
country_info_df.head()

,Country_Code,ISO_Alpha_3,Numeric_Code,Alpha_2,Country_Name,Capital,Area,Population,Region,TLD,Currency_Code,Currency_Name,Currency_Numeric,Additional_Info
0,AD,AND,20,AN,Andorra,Andorra la Vella,468.0,77006,EU,.ad,EUR,Euro,376,AD
1,AE,ARE,784,AE,United Arab Emirates,Abu Dhabi,82880.0,9630959,AS,.ae,AED,Dirham,971,NaN
2,AI,AIA,660,AV,Anguilla,The Valley,102.0,13254,NaN,.ai,XCD,Dollar,+1-264,AI-
3,AL,ALB,8,AL,Albania,Tirana,28748.0,2866376,EU,.al,ALL,Lek,355,NaN
4,AM,ARM,51,AM,Armenia,Yerevan,29800.0,2951776,AS,.am,AMD,Dram,374,NaN

## Countries

In [3]:
countries_zip_url = "https://drive.google.com/uc?id=1UQzdO7suT0BnwKBeNybMG97vM9GIDogA"
countries_zip_file_path = "../../allCountries.zip"

# Download the ZIP file if it doesn't exist; otherwise, proceed to read the TXT file.
if not os.path.exists(countries_zip_file_path):
    gdown.download(countries_zip_url, countries_zip_file_path, quiet=False)

with zipfile.ZipFile(countries_zip_file_path) as z:
    countries_txt_filename = "allCountries.txt"

    with z.open(countries_txt_filename) as txt_file:
        countries_df = pd.read_csv(txt_file, sep="\t", header=None)


# https://download.geonames.org/export/dump/
countries_df.columns = [
    'geonameid',         
    'name',             
    'asciiname',        
    'alternatenames',  
    'latitude',         
    'longitude',       
    'feature class',    
    'feature code',      
    'iso alpha 2',      
    'cc2',              
    'admin1 code',     
    'admin2 code',       
    'admin3 code',      
    'admin4 code',   
    'population',      
    'elevation',       
    'dem',             
    'timezone',          
    'modification date'  
]

print(f"\nshape: {countries_df.shape}")
countries_df.head()

/var/folders/9m/ym86jvl93wq3tx6ssy8ql7kh0000gn/T/ipykernel_26719/49276498.py:12: DtypeWarning: Columns (9,10,11,12,13) have mixed types. Specify dtype option on import or set low_memory=False.
  countries_df = pd.read_csv(txt_file, sep="\t", header=None)

shape: (12950185, 19)

,geonameid,name,asciiname,alternatenames,latitude,longitude,feature class,feature code,iso alpha 2,cc2,admin1 code,admin2 code,admin3 code,admin4 code,population,elevation,dem,timezone,modification date
0,2994701,Roc Meler,Roc Meler,"Roc Mele,Roc Meler,Roc Mélé",42.58765,1.74180,T,PK,AD,"AD,FR",02,NaN,NaN,NaN,0,2811.0,2348,Europe/Andorra,2023-10-03
1,3017832,Pic de les Abelletes,Pic de les Abelletes,"Pic de la Font-Negre,Pic de la Font-Nègre,Pic ...",42.52535,1.73343,T,PK,AD,FR,A9,66,663.0,66146.0,0,NaN,2411,Europe/Andorra,2014-11-05
2,3017833,Estany de les Abelletes,Estany de les Abelletes,"Estany de les Abelletes,Etang de Font-Negre,Ét...",42.52915,1.73362,H,LK,AD,FR,A9,NaN,NaN,NaN,0,NaN,2260,Europe/Andorra,2014-11-05
3,3023203,Port Vieux de la Coume d’Ose,Port Vieux de la Coume d'Ose,"Port Vieux de Coume d'Ose,Port Vieux de Coume ...",42.62568,1.61823,T,PASS,AD,NaN,00,NaN,NaN,NaN,0,NaN,2687,Europe/Andorra,2014-11-05
4,3029315,Port de la Cabanette,Port de la Cabanette,"Port de la Cabanette,Porteille de la Cabanette",42.60000,1.73333,T,PASS,AD,"AD,FR",B3,09,91.0,9139.0,0,NaN,2379,Europe/Andorra,2014-11-05

## EUI

In [4]:
eui_url = "https://drive.google.com/uc?id=12qGq_DLefI1RihIF_RKQUyJtm480-xRC"
eui_df = pd.read_csv(eui_url)

print(f"shape: {eui_df.shape}")
eui_df.head()

shape: (482, 5)

,City,Geonames ID,Country,Residential EUI (kWh/m2/year),Non-residential EUI (kWh/m2/year)
0,Nha Trang,1572151,Vietnam,59.096065,112.778867
1,Aberdeen,2657832,United Kingdom,231.302877,259.832393
2,Abidjan,2293538,Cote d'Ivoire,73.830819,105.622137
3,Abu Dhabi,292968,United Arab Emirates,128.447899,226.725457
4,Abuja,2352778,Nigeria,63.955819,103.009079

In [5]:
merged_df = pd.merge(
    countries_df, eui_df, left_on="geonameid", right_on="Geonames ID", how="inner"
)
assert merged_df.shape[0] == eui_df.shape[0]
print(f"shape: {merged_df.shape}")
merged_df.head()

shape: (482, 24)

,geonameid,name,asciiname,alternatenames,latitude,longitude,feature class,feature code,iso alpha 2,cc2,...,population,elevation,dem,timezone,modification date,City,Geonames ID,Country,Residential EUI (kWh/m2/year),Non-residential EUI (kWh/m2/year)
0,292968,Abu Dhabi,Abu Dhabi,"A-pu-that-pi,AEbu Saby,AUH,Aboe Dhabi,Abou Dab...",24.45118,54.39696,P,PPLC,AE,NaN,...,1807000,NaN,6,Asia/Dubai,2024-03-27,Abu Dhabi,292968,United Arab Emirates,128.447899,226.725457
1,1138958,Kabul,Kabul,"Cabool,Caboul,Cabul,Cabura,Cabúl,Caubul,KBL,Ka...",34.52813,69.17233,P,PPLC,AF,NaN,...,4434550,NaN,1798,Asia/Kabul,2024-09-05,Kabul,1138958,Afghanistan,213.167026,144.395840
2,3183875,Tirana,Tirana,"TIA,Terana,Theranda,Tiorana,Tiorána,Tiran,Tira...",41.32750,19.81889,P,PPLC,AL,NaN,...,418495,NaN,113,Europe/Tirane,2023-01-01,Tirana,3183875,Albania,133.717672,101.873579
3,616052,Yerevan,Yerevan,"Ayrivan,Djerevan,EVN,Eireavan,Eireaván,Ereban,...",40.18111,44.51361,P,PPLC,AM,NaN,...,1093485,NaN,994,Asia/Yerevan,2023-11-13,Yerevan,616052,Armenia,198.865302,132.124738
4,2240449,Luanda,Luanda,"LAD,Loanda,Louanda,Louanta,Luand,Luanda,Luanda...",-8.83682,13.23432,P,PPLC,AO,NaN,...,2776168,NaN,73,Africa/Luanda,2024-03-26,Luanda,2240449,Angola,65.343750,104.311100

## Adding ISO 3 Code

In [6]:
# Adding ISO CODE 3
alpha_2_to_alpha_3 = {country.alpha_2: country.alpha_3 for country in pycountry.countries}
merged_df.loc[:, 'ISO_alpha3'] = merged_df['iso alpha 2'].map(alpha_2_to_alpha_3)

# Manually correcting the missing country code for Namibia by assigning 'NAM' because country code is null for Nambia
merged_df.loc[merged_df['Country'] == 'Namibia', 'ISO_alpha3'] = 'NAM'
merged_df.loc[merged_df['Country'] == 'Namibia', 'iso alpha 2'] = 'NA'

print(f"shape: {merged_df.shape}")

assert merged_df["ISO_alpha3"].isna().sum() == 0, "There are missing values in the ISO_alpha3 column."
assert merged_df.shape[0] == 482, "The number of rows in merged_df is not 482."

shape: (482, 25)

# Population (Country Level)

In [7]:
population_path = '../data/01_raw/population.csv'
population_df = pd.read_csv(population_path, skiprows=4)
population_2023 = population_df[['Country Code', '2023']]

population_2023.rename(columns={
    '2023': 'Population_2023',
    'Country Code': 'ISO_alpha3'
}, inplace=True)

#taiwan
taiwan_raw = {'Country Name': 'Taiwan', 'ISO_alpha3': 'TWN', 'Population_2023': 23894394}
population_2023.loc[len(population_2023)] = taiwan_raw

merged_df = merged_df.merge(population_2023, on='ISO_alpha3', how='left')

assert merged_df['Population_2023'].notnull().all(), "Error: There are null values in 'Population_2023'."
assert merged_df.shape[0] == 482, "The number of rows in merged_df is not 482."
print(f"shape: {merged_df.shape}")
merged_df.head()

shape: (482, 26)

/var/folders/9m/ym86jvl93wq3tx6ssy8ql7kh0000gn/T/ipykernel_26719/2507529662.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  population_2023.rename(columns={
/var/folders/9m/ym86jvl93wq3tx6ssy8ql7kh0000gn/T/ipykernel_26719/2507529662.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  population_2023.loc[len(population_2023)] = taiwan_raw

,geonameid,name,asciiname,alternatenames,latitude,longitude,feature class,feature code,iso alpha 2,cc2,...,dem,timezone,modification date,City,Geonames ID,Country,Residential EUI (kWh/m2/year),Non-residential EUI (kWh/m2/year),ISO_alpha3,Population_2023
0,292968,Abu Dhabi,Abu Dhabi,"A-pu-that-pi,AEbu Saby,AUH,Aboe Dhabi,Abou Dab...",24.45118,54.39696,P,PPLC,AE,NaN,...,6,Asia/Dubai,2024-03-27,Abu Dhabi,292968,United Arab Emirates,128.447899,226.725457,ARE,9516871.0
1,1138958,Kabul,Kabul,"Cabool,Caboul,Cabul,Cabura,Cabúl,Caubul,KBL,Ka...",34.52813,69.17233,P,PPLC,AF,NaN,...,1798,Asia/Kabul,2024-09-05,Kabul,1138958,Afghanistan,213.167026,144.395840,AFG,42239854.0
2,3183875,Tirana,Tirana,"TIA,Terana,Theranda,Tiorana,Tiorána,Tiran,Tira...",41.32750,19.81889,P,PPLC,AL,NaN,...,113,Europe/Tirane,2023-01-01,Tirana,3183875,Albania,133.717672,101.873579,ALB,2745972.0
3,616052,Yerevan,Yerevan,"Ayrivan,Djerevan,EVN,Eireavan,Eireaván,Ereban,...",40.18111,44.51361,P,PPLC,AM,NaN,...,994,Asia/Yerevan,2023-11-13,Yerevan,616052,Armenia,198.865302,132.124738,ARM,2777970.0
4,2240449,Luanda,Luanda,"LAD,Loanda,Louanda,Louanta,Luand,Luanda,Luanda...",-8.83682,13.23432,P,PPLC,AO,NaN,...,73,Africa/Luanda,2024-03-26,Luanda,2240449,Angola,65.343750,104.311100,AGO,36684202.0

# Population Density

In [8]:
pop_density_path = '../data/02_interim/population_density.csv'
pop_density_df = pd.read_csv(pop_density_path)
pop_density_df = pop_density_df[['geonameid','population_density']]
merged_df = merged_df.merge(pop_density_df, on='geonameid', how='left')
assert merged_df['population_density'].notnull().all()
print(f"shape: {merged_df.shape}")
merged_df.head()

shape: (482, 27)

,geonameid,name,asciiname,alternatenames,latitude,longitude,feature class,feature code,iso alpha 2,cc2,...,timezone,modification date,City,Geonames ID,Country,Residential EUI (kWh/m2/year),Non-residential EUI (kWh/m2/year),ISO_alpha3,Population_2023,population_density
0,292968,Abu Dhabi,Abu Dhabi,"A-pu-that-pi,AEbu Saby,AUH,Aboe Dhabi,Abou Dab...",24.45118,54.39696,P,PPLC,AE,NaN,...,Asia/Dubai,2024-03-27,Abu Dhabi,292968,United Arab Emirates,128.447899,226.725457,ARE,9516871.0,3984.920922
1,1138958,Kabul,Kabul,"Cabool,Caboul,Cabul,Cabura,Cabúl,Caubul,KBL,Ka...",34.52813,69.17233,P,PPLC,AF,NaN,...,Asia/Kabul,2024-09-05,Kabul,1138958,Afghanistan,213.167026,144.395840,AFG,42239854.0,22388.694696
2,3183875,Tirana,Tirana,"TIA,Terana,Theranda,Tiorana,Tiorána,Tiran,Tira...",41.32750,19.81889,P,PPLC,AL,NaN,...,Europe/Tirane,2023-01-01,Tirana,3183875,Albania,133.717672,101.873579,ALB,2745972.0,10903.651198
3,616052,Yerevan,Yerevan,"Ayrivan,Djerevan,EVN,Eireavan,Eireaván,Ereban,...",40.18111,44.51361,P,PPLC,AM,NaN,...,Asia/Yerevan,2023-11-13,Yerevan,616052,Armenia,198.865302,132.124738,ARM,2777970.0,5175.170524
4,2240449,Luanda,Luanda,"LAD,Loanda,Louanda,Louanta,Luand,Luanda,Luanda...",-8.83682,13.23432,P,PPLC,AO,NaN,...,Africa/Luanda,2024-03-26,Luanda,2240449,Angola,65.343750,104.311100,AGO,36684202.0,24082.957531

# HDI - Educational Index - Income Index.csv

In [9]:
merged_df.columns

Index(['geonameid', 'name', 'asciiname', 'alternatenames', 'latitude',
       'longitude', 'feature class', 'feature code', 'iso alpha 2', 'cc2',
       'admin1 code', 'admin2 code', 'admin3 code', 'admin4 code',
       'population', 'elevation', 'dem', 'timezone', 'modification date',
       'City', 'Geonames ID', 'Country', 'Residential EUI (kWh/m2/year)',
       'Non-residential EUI (kWh/m2/year)', 'ISO_alpha3', 'Population_2023',
       'population_density'],
      dtype='object')

In [10]:
HDI_EI_II_path = '../data/01_raw/HDI_educationalIndex_incomeIndex.csv'
HDI_EI_II_df = pd.read_csv(HDI_EI_II_path)
HDI_EI_II_df = HDI_EI_II_df[["ISO_Code", "Subnational HDI","Educational index", "Income index"]]
HDI_EI_II_df.rename(columns={'ISO_Code':'ISO_alpha3' }, inplace=True)


merged_df = merged_df.merge(HDI_EI_II_df, 
                             on='ISO_alpha3', 
                             how='left')

assert merged_df.loc[merged_df['Country'] != 'Taiwan', 
                     ['Subnational HDI', 'Educational index', 'Income index']].notnull().all().all()
assert merged_df.shape[0] == 482, "The number of rows in merged_df is not 482."
print(f"shape: {merged_df.shape}")

shape: (482, 30)

# GDP

In [11]:
gdp_data_path = (
    "../data/01_raw/gdp_data.csv"
)
gdp_df = pd.read_csv(gdp_data_path)
gdp_df = gdp_df[gdp_df["Level"]=="National"]

gdp_df = gdp_df[['ISO_Code', '2022']]
gdp_df.rename(columns={'2022': 'GDP_2022', 'ISO_Code':'ISO_alpha3' }, inplace=True)


merged_df = merged_df.merge(gdp_df, 
                             on='ISO_alpha3', 
                             how='left')

assert merged_df.loc[merged_df['Country'] != 'Taiwan', 
                     ['GDP_2022']].notnull().all().all()
assert merged_df.shape[0] == 482, "The number of rows in merged_df is not 482."
print(f"shape: {merged_df.shape}")

shape: (482, 31)

# Urbanization rate

In [12]:
print(merged_df.columns)

Index(['geonameid', 'name', 'asciiname', 'alternatenames', 'latitude',
       'longitude', 'feature class', 'feature code', 'iso alpha 2', 'cc2',
       'admin1 code', 'admin2 code', 'admin3 code', 'admin4 code',
       'population', 'elevation', 'dem', 'timezone', 'modification date',
       'City', 'Geonames ID', 'Country', 'Residential EUI (kWh/m2/year)',
       'Non-residential EUI (kWh/m2/year)', 'ISO_alpha3', 'Population_2023',
       'population_density', 'Subnational HDI', 'Educational index',
       'Income index', 'GDP_2022'],
      dtype='object')

In [13]:
# Load the Urbanization Rate dataset, skipping metadata rows if necessary
urbanization_rate_path = (
    "https://drive.google.com/uc?id=1YteyPHAWnJUKG0LWogS98EYnwjRTeZDf&export=download"
)
urbanization_rate_df = pd.read_csv(urbanization_rate_path, skiprows=4)


urbanization_rate_df = urbanization_rate_df[["Country Code", "2022"]].rename(
    columns={"2022": "Urbanization_Rate_2022" , 'Country Code':'ISO_alpha3'}
)

merged_df = merged_df.merge(urbanization_rate_df, 
                             on='ISO_alpha3', 
                             how='left')

assert merged_df.shape[0] == 482, "The number of rows in merged_df is not 482."
assert merged_df.loc[merged_df['Country'] != 'Taiwan', 
                     ['Urbanization_Rate_2022']].notnull().all().all()
print(f"shape: {merged_df.shape}")

shape: (482, 32)

# Paris Agreement

In [14]:
paris_agreement_iso_codes = [
    "AFG", "ALB", "DZA", "AND", "AGO", "ATG", "ARG", "AUS", "AUT", "AZE", 
    "BHS", "BHR", "BGD", "BRB", "BLR", "BEL", "BLZ", "BEN", "BTN", "BOL", 
    "BIH", "BWA", "BRA", "BRN", "BGR", "BFA", "BDI", "CPV", "KHM", "CMR", 
    "CAN", "CAF", "TCD", "CHN", "COL", "COM", "COG", "CRI", "CIV", "HRV", 
    "CUB", "CYP", "CZE", "PRK", "COD", "DNK", "DJI", "DMA", "DOM", "EGY", 
    "SLV", "GNQ", "ERI", "EST", "ETH", "EUN", "FJI", "FIN", "FRA", "GAB", 
    "GEO", "DEU", "GHA", "GRC", "GRD", "GTM", "GIN", "GNB", "GUY", "HTI", 
    "HND", "HUN", "ISL", "IND", "IDN", "IRN", "IRL", "ISR", "ITA", "JAM", 
    "JPN", "JOR", "KEN", "KIR", "KWT", "LAO", "LVA", "LBN", "LSO", "LBR", 
    "LBY", "LIE", "LTU", "LUX", "MDG", "MYS", "MDV", "MLI", "MLT", "MHL", 
    "MUS", "MRT", "MEX", "FSM", "MCO", "MNG", "MNE", "MAR", "MOZ", "MMR", 
    "NAM", "NRU", "NPL", "NLD", "NZL", "NER", "NOR", "OMN", "PAK", "PLW", 
    "PAN", "PNG", "PRY", "PER", "PHL", "POL", "PRT", "QAT", "KOR", "ROU", 
    "RUS", "RWA", "KNA", "LCA", "VCT", "WSM", "SMR", "STP", "SEN", "SRB", 
    "SGP", "SVK", "SVN", "SLB", "SOM", "ZAF", "SSD", "ESP", "LKA", "PSE", 
    "SDN", "SUR", "SWZ", "SWE", "CHE", "TJK", "THA", "MKD", "TLS", "TON", 
    "TTO", "TUN", "TUR", "TUV", "UGA", "UKR", "ARE", "GBR", "TZA", "USA", 
    "URY", "VUT", "VEN", "VNM", "ZWE"
]

merged_df['Paris_Agreement'] = merged_df['ISO_alpha3'].apply(lambda x: 1 if x in paris_agreement_iso_codes else 0)

## Region

In [15]:
world_boundaries_url = "https://drive.google.com/uc?id=1k-2ECd2gwJ9FBz1anMRZy7O85uExAFY_"
world_boundaries_path = "../../world-administrative-boundaries.geojson"

gdown.download(world_boundaries_url, world_boundaries_path, quiet=False)
world_boundaries_df = gpd.read_file(world_boundaries_path)
world_boundaries_df = world_boundaries_df[world_boundaries_df['name'] != 'Azores Islands']
world_boundaries_df.head()

Downloading...
From: https://drive.google.com/uc?id=1k-2ECd2gwJ9FBz1anMRZy7O85uExAFY_
To: /Users/barbaraflores/Desktop/MIDS/IDS798_Capstone/world-administrative-boundaries.geojson
100%|██████████| 8.58M/8.58M [00:00<00:00, 28.4MB/s]

,geo_point_2d,iso3,status,color_code,name,continent,region,iso_3166_1_alpha_2_codes,french_short,geometry
0,"{'lon': 145.67921950822935, 'lat': 15.08852006...",MNP,US Territory,USA,Northern Mariana Islands,Oceania,Micronesia,MP,Northern Mariana Islands,"MULTIPOLYGON (((145.63331 14.91236, 145.62412 ..."
1,"{'lon': 147.1622109044358, 'lat': 44.691217168...",None,Sovereignty unsettled,RUS,Kuril Islands,Asia,Eastern Asia,None,Kuril Islands,"MULTIPOLYGON (((146.68274 43.70777, 146.66664 ..."
2,"{'lon': 2.551955216777798, 'lat': 46.564502053...",FRA,Member State,FRA,France,Europe,Western Europe,FR,France,"MULTIPOLYGON (((9.44750 42.68305, 9.45014 42.6..."
3,"{'lon': 20.805271723235375, 'lat': 44.03149841...",SRB,Member State,SRB,Serbia,Europe,Southern Europe,RS,Serbie,"POLYGON ((20.26102 46.11485, 20.31403 46.06986..."
4,"{'lon': -56.01239637788298, 'lat': -32.7996453...",URY,Member State,URY,Uruguay,Americas,South America,UY,Uruguay,"POLYGON ((-53.37430 -33.74067, -53.39917 -33.7..."

In [16]:
merged_df = merged_df.merge(world_boundaries_df, left_on='ISO_alpha3', right_on='iso3', how='left')


merged_df['Region Grouped'] = np.where(
    merged_df['region'] == 'Northern America', 
    'Northern America',  
    np.where(
        merged_df['continent'] == 'Americas', 
        'Central and South America',  
        np.where(
            merged_df['continent'].isin(['Asia', 'Oceania']), 
            'Asia & Oceania',  
            merged_df['continent']  
        )
    )
)
assert merged_df.shape[0] == 482, "The number of rows in merged_df is not 482."
assert merged_df['Region Grouped'].notnull().all(), "The 'Region Grouped' column contains null values."
merged_df.groupby(['continent', 'region' , 'Region Grouped']).size().reset_index(name='count').sort_values(by='Region Grouped')

   continent                     region             Region Grouped  count
0     Africa             Eastern Africa                     Africa     34
1     Africa              Middle Africa                     Africa     18
2     Africa            Northern Africa                     Africa     20
3     Africa            Southern Africa                     Africa     17
4     Africa             Western Africa                     Africa     38
18   Oceania  Australia and New Zealand             Asia & Oceania     11
13      Asia               Western Asia             Asia & Oceania     15
12      Asia              Southern Asia             Asia & Oceania     90
11      Asia         South-Eastern Asia             Asia & Oceania     31
19   Oceania                  Melanesia             Asia & Oceania      4
10      Asia               Eastern Asia             Asia & Oceania     23
9       Asia               Central Asia             Asia & Oceania      4
20   Oceania                  Polynesia             Asia & Oceania      2
8   Americas              South America  Central and South America     40
6   Americas            Central America  Central and South America     24
5   Americas                  Caribbean  Central and South America      6
14    Europe             Eastern Europe                     Europe     32
15    Europe            Northern Europe                     Europe     17
16    Europe            Southern Europe                     Europe     24
17    Europe             Western Europe                     Europe     18
7   Americas           Northern America           Northern America     14

# HDD

In [17]:
HDD_path = "../data/02_interim/HDD_matchedscale.csv"
HDD_df = pd.read_csv(HDD_path)

HDD_df = HDD_df[['geonameid', 'total_year', 'average_year', 'variance_year']]


HDD_df = HDD_df.rename(columns={
    'total_year': 'hdd_total_year',
    'average_year': 'hdd_average_year',
    'variance_year': 'hdd_variance_year'
})

merged_df = merged_df.merge(HDD_df, on='geonameid', how='left')
assert merged_df['hdd_total_year'].notnull().all()
print(f"shape: {merged_df.shape}")
merged_df.head()

shape: (482, 47)

,geonameid,name_x,asciiname,alternatenames,latitude,longitude,feature class,feature code,iso alpha 2,cc2,...,name_y,continent,region,iso_3166_1_alpha_2_codes,french_short,geometry,Region Grouped,hdd_total_year,hdd_average_year,hdd_variance_year
0,292968,Abu Dhabi,Abu Dhabi,"A-pu-that-pi,AEbu Saby,AUH,Aboe Dhabi,Abou Dab...",24.45118,54.39696,P,PPLC,AE,NaN,...,United Arab Emirates,Asia,Western Asia,AE,Émirats arabes unis,"MULTIPOLYGON (((53.96486 24.17944, 53.95500 24...",Asia & Oceania,0.000000,0.000000,0.000000
1,1138958,Kabul,Kabul,"Cabool,Caboul,Cabul,Cabura,Cabúl,Caubul,KBL,Ka...",34.52813,69.17233,P,PPLC,AF,NaN,...,Afghanistan,Asia,Southern Asia,AF,Afghanistan,"POLYGON ((74.91574 37.23733, 74.80873 37.22423...",Asia & Oceania,607.548630,50.629052,3432.448574
2,3183875,Tirana,Tirana,"TIA,Terana,Theranda,Tiorana,Tiorána,Tiran,Tira...",41.32750,19.81889,P,PPLC,AL,NaN,...,Albania,Europe,Southern Europe,AL,Albanie,"POLYGON ((20.07142 42.56091, 20.10208 42.53347...",Europe,1637.918753,136.493229,7088.221906
3,616052,Yerevan,Yerevan,"Ayrivan,Djerevan,EVN,Eireavan,Eireaván,Ereban,...",40.18111,44.51361,P,PPLC,AM,NaN,...,Armenia,Asia,Western Asia,AM,Arménie,"POLYGON ((46.54038 38.87559, 46.51639 38.87804...",Asia & Oceania,1391.559353,115.963279,3829.357531
4,2240449,Luanda,Luanda,"LAD,Loanda,Louanda,Louanta,Luand,Luanda,Luanda...",-8.83682,13.23432,P,PPLC,AO,NaN,...,Angola,Africa,Middle Africa,AO,Angola,"MULTIPOLYGON (((23.98621 -10.87046, 23.98805 -...",Africa,0.000000,0.000000,0.000000

#

In [18]:
HDD_path = "../data/02_interim/HDD_matchedscale.csv"
HDD_df = pd.read_csv(HDD_path)

HDD_df = HDD_df[['geonameid', 'total_year', 'average_year', 'variance_year']]

# CDD

In [19]:
CDD_path = "../data/02_interim/CDD_scalematched.csv"
CDD_df = pd.read_csv(CDD_path)

CDD_df = CDD_df[['geonameid', 'total_year', 'average_year', 'variance_year']]

CDD_df = CDD_df.rename(columns={
    'total_year': 'cdd_total_year',
    'average_year': 'cdd_average_year',
    'variance_year': 'cdd_variance_year'
})

merged_df = merged_df.merge(CDD_df, on='geonameid', how='left')
assert merged_df['cdd_total_year'].notnull().all()
print(f"shape: {merged_df.shape}")
merged_df.head()

shape: (482, 50)

,geonameid,name_x,asciiname,alternatenames,latitude,longitude,feature class,feature code,iso alpha 2,cc2,...,iso_3166_1_alpha_2_codes,french_short,geometry,Region Grouped,hdd_total_year,hdd_average_year,hdd_variance_year,cdd_total_year,cdd_average_year,cdd_variance_year
0,292968,Abu Dhabi,Abu Dhabi,"A-pu-that-pi,AEbu Saby,AUH,Aboe Dhabi,Abou Dab...",24.45118,54.39696,P,PPLC,AE,NaN,...,AE,Émirats arabes unis,"MULTIPOLYGON (((53.96486 24.17944, 53.95500 24...",Asia & Oceania,0.000000,0.000000,0.000000,2188.239273,182.353273,3109.247543
1,1138958,Kabul,Kabul,"Cabool,Caboul,Cabul,Cabura,Cabúl,Caubul,KBL,Ka...",34.52813,69.17233,P,PPLC,AF,NaN,...,AF,Afghanistan,"POLYGON ((74.91574 37.23733, 74.80873 37.22423...",Asia & Oceania,607.548630,50.629052,3432.448574,289.296122,24.108010,1951.846629
2,3183875,Tirana,Tirana,"TIA,Terana,Theranda,Tiorana,Tiorána,Tiran,Tira...",41.32750,19.81889,P,PPLC,AL,NaN,...,AL,Albanie,"POLYGON ((20.07142 42.56091, 20.10208 42.53347...",Europe,1637.918753,136.493229,7088.221906,5.995836,0.499653,2.105448
3,616052,Yerevan,Yerevan,"Ayrivan,Djerevan,EVN,Eireavan,Eireaván,Ereban,...",40.18111,44.51361,P,PPLC,AM,NaN,...,AM,Arménie,"POLYGON ((46.54038 38.87559, 46.51639 38.87804...",Asia & Oceania,1391.559353,115.963279,3829.357531,63.188193,5.265683,323.631829
4,2240449,Luanda,Luanda,"LAD,Loanda,Louanda,Louanta,Luand,Luanda,Luanda...",-8.83682,13.23432,P,PPLC,AO,NaN,...,AO,Angola,"MULTIPOLYGON (((23.98621 -10.87046, 23.98805 -...",Africa,0.000000,0.000000,0.000000,4224.655207,352.054601,5849.758434

# Weather Data

In [20]:
weather_data_path = "../data/02_interim/temperature_dewpoint_precipitation_2023.csv"
weather_data_df = pd.read_csv(weather_data_path)

merged_df = merged_df.merge(weather_data_df, on='geonameid', how='left')
assert merged_df['2m_temperature_2023_avg'].notnull().all() and \
       merged_df['2m_dewpoint_temperature_2023_avg'].notnull().all() and \
       merged_df['total_precipitation_2023'].notnull().all()

print(f"shape: {merged_df.shape}")
merged_df.head()

shape: (482, 53)

,geonameid,name_x,asciiname,alternatenames,latitude,longitude,feature class,feature code,iso alpha 2,cc2,...,Region Grouped,hdd_total_year,hdd_average_year,hdd_variance_year,cdd_total_year,cdd_average_year,cdd_variance_year,2m_temperature_2023_avg,2m_dewpoint_temperature_2023_avg,total_precipitation_2023
0,292968,Abu Dhabi,Abu Dhabi,"A-pu-that-pi,AEbu Saby,AUH,Aboe Dhabi,Abou Dab...",24.45118,54.39696,P,PPLC,AE,NaN,...,Asia & Oceania,0.000000,0.000000,0.000000,2188.239273,182.353273,3109.247543,302.02,292.78,0.048
1,1138958,Kabul,Kabul,"Cabool,Caboul,Cabul,Cabura,Cabúl,Caubul,KBL,Ka...",34.52813,69.17233,P,PPLC,AF,NaN,...,Asia & Oceania,607.548630,50.629052,3432.448574,289.296122,24.108010,1951.846629,283.49,272.82,0.378
2,3183875,Tirana,Tirana,"TIA,Terana,Theranda,Tiorana,Tiorána,Tiran,Tira...",41.32750,19.81889,P,PPLC,AL,NaN,...,Europe,1637.918753,136.493229,7088.221906,5.995836,0.499653,2.105448,289.50,283.59,1.327
3,616052,Yerevan,Yerevan,"Ayrivan,Djerevan,EVN,Eireavan,Eireaván,Ereban,...",40.18111,44.51361,P,PPLC,AM,NaN,...,Asia & Oceania,1391.559353,115.963279,3829.357531,63.188193,5.265683,323.631829,284.26,274.88,0.367
4,2240449,Luanda,Luanda,"LAD,Loanda,Louanda,Louanta,Luand,Luanda,Luanda...",-8.83682,13.23432,P,PPLC,AO,NaN,...,Africa,0.000000,0.000000,0.000000,4224.655207,352.054601,5849.758434,298.57,294.96,0.668

# Sin Cos Coordinates

In [21]:
cord_data_path = "../data/02_interim/coords_sin_cos.csv"
cord_data_df = pd.read_csv(cord_data_path, sep=";")

merged_df = merged_df.merge(cord_data_df, on='geonameid', how='left')
assert merged_df['longitude_sin'].notnull().all() and \
       merged_df['longitude_cos'].notnull().all() and \
       merged_df['latitude_sin'].notnull().all() and \
       merged_df['latitude_cos'].notnull().all()

print(f"shape: {merged_df.shape}")
merged_df.head()

shape: (482, 57)

,geonameid,name_x,asciiname,alternatenames,latitude,longitude,feature class,feature code,iso alpha 2,cc2,...,cdd_total_year,cdd_average_year,cdd_variance_year,2m_temperature_2023_avg,2m_dewpoint_temperature_2023_avg,total_precipitation_2023,longitude_sin,longitude_cos,latitude_sin,latitude_cos
0,292968,Abu Dhabi,Abu Dhabi,"A-pu-that-pi,AEbu Saby,AUH,Aboe Dhabi,Abou Dab...",24.45118,54.39696,P,PPLC,AE,NaN,...,2188.239273,182.353273,3109.247543,302.02,292.78,0.048,0.813070,0.582166,0.413918,0.910314
1,1138958,Kabul,Kabul,"Cabool,Caboul,Cabul,Cabura,Cabúl,Caubul,KBL,Ka...",34.52813,69.17233,P,PPLC,AF,NaN,...,289.296122,24.108010,1951.846629,283.49,272.82,0.378,0.934654,0.355558,0.566811,0.823848
2,3183875,Tirana,Tirana,"TIA,Terana,Theranda,Tiorana,Tiorána,Tiran,Tira...",41.32750,19.81889,P,PPLC,AL,NaN,...,5.995836,0.499653,2.105448,289.50,283.59,1.327,0.339048,0.940769,0.660362,0.750947
3,616052,Yerevan,Yerevan,"Ayrivan,Djerevan,EVN,Eireavan,Eireaván,Ereban,...",40.18111,44.51361,P,PPLC,AM,NaN,...,63.188193,5.265683,323.631829,284.26,274.88,0.367,0.701079,0.713084,0.645206,0.764009
4,2240449,Luanda,Luanda,"LAD,Loanda,Louanda,Louanta,Luand,Luanda,Luanda...",-8.83682,13.23432,P,PPLC,AO,NaN,...,4224.655207,352.054601,5849.758434,298.57,294.96,0.668,0.228934,0.973442,-0.153621,0.988130

In [22]:
merged_df.columns

Index(['geonameid', 'name_x', 'asciiname', 'alternatenames', 'latitude',
       'longitude', 'feature class', 'feature code', 'iso alpha 2', 'cc2',
       'admin1 code', 'admin2 code', 'admin3 code', 'admin4 code',
       'population', 'elevation', 'dem', 'timezone', 'modification date',
       'City', 'Geonames ID', 'Country', 'Residential EUI (kWh/m2/year)',
       'Non-residential EUI (kWh/m2/year)', 'ISO_alpha3', 'Population_2023',
       'population_density', 'Subnational HDI', 'Educational index',
       'Income index', 'GDP_2022', 'Urbanization_Rate_2022', 'Paris_Agreement',
       'geo_point_2d', 'iso3', 'status', 'color_code', 'name_y', 'continent',
       'region', 'iso_3166_1_alpha_2_codes', 'french_short', 'geometry',
       'Region Grouped', 'hdd_total_year', 'hdd_average_year',
       'hdd_variance_year', 'cdd_total_year', 'cdd_average_year',
       'cdd_variance_year', '2m_temperature_2023_avg',
       '2m_dewpoint_temperature_2023_avg', 'total_precipitation_2023',
       'longitude_sin', 'longitude_cos', 'latitude_sin', 'latitude_cos'],
      dtype='object')

# Save File

In [23]:
output_path = "../data/03_processed"
os.makedirs(output_path, exist_ok=True)
merged_df.to_csv(os.path.join(output_path, "merged_df.csv"), index=False)